#found-download {
  background-color: black;
  padding: 80px 32px;
}
#download {
  background-color: var(--surface-color);
  padding: 32px;
  border-radius: 20px;
  height: 542px;
}
.download-img-guy {
  position: relative;
  img {
    position: absolute;
    height: 700px !important;
    top: -363px;
  }
}
